@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600&display=swap');

.ovalInput {
    border-radius: 20px;
    background-color: rgb(238, 233, 233);
    padding: 4px 12px;
}

.extraWide {
    width: 50%; /* Adjusts to full container width */
    max-width: 500px; /* For example, limits width */
}

.rememberMe{
    font-size: 13px;
}

.signIn{
    background-color: orangered;
}

.signIn:hover{
    background-color: rgb(241, 95, 41);
}

.otpStyle{
    width: 23%;
    max-width:40px;
    height: 50px; 
    background-color:rgb(202, 199, 199);
    font-size:18px;
}

.grayText{
    font-size: 14px;
    color : gray;
}

.customBorder {
    border: 1px solid Gray;
    padding: 15px 30px;
    border-radius: 50px;
    background-color:rgb(238, 233, 233);
}

/*Css for blur background of forget password page*/
/* AuthContainer.module.css */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.blurBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px); /* Adjust blur level as needed */
    z-index: 1;
    pointer-events: none; /* Prevent interaction with the blurred SignIn */
}

.foreground {
    position: relative;
    z-index: 2;
    width:65%;
    max-width: 450px;
}

/* Dashboard */
.navBar{
  background-color: rgb(238, 233, 233);
  border-radius: 30%;
  font-size: 13px;
  
  font-weight: 650;
}

.activeColor{
  background-color: orangered;
}

.navBarWidth{
  width: 100%; /* Adjusts to full container width */
  max-width: 800px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}